* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
}

main {
  padding-inline: 2rem;
}

header > img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: normal;
  color: hsl(24, 5%, 18%);
  margin-top: 2.5rem;
  font-size: 2.25rem;
  line-height: 1;
}

.heading-section p {
  line-height: 1.5;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: normal;
  color: hsl(14, 45%, 36%);
  font-size: 1.75rem;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  color: hsl(332, 51%, 32%);
}

.prep-time-container {
  background-color: hsl(330, 100%, 98%);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.prep-time-container > ul > li::marker {
  color: hsl(332, 51%, 32%);
}

ul > li::marker {
  font-size: 12px;
  color: hsl(14, 45%, 36%);
}

li {
  padding-left: 1.25rem;
}

.bold-text {
  font-weight: bold;
}

table {
  width: 100%;
  margin: 0 auto;
}

table tr td {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.table-value {
  color: hsl(14, 45%, 36%);
}
