* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  color: hsl(30, 10%, 34%);
  line-height: 1.5;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.top-container {
  max-width: 736px;
  /* margin: 0 auto; */
  background-color: white;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

header > img {
  width: 100%;
  display: block;
}

section {
  margin-block: 2rem;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: normal;
  color: hsl(24, 5%, 18%);
  margin-top: 2.5rem;
  font-size: 2.25rem;
  line-height: 1;
}

.heading-section p {
  line-height: 1.5;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: normal;
  color: hsl(14, 45%, 36%);
  font-size: 1.75rem;
}

.prep-time-heading {
  font-weight: 600;
  font-size: 1.25rem;
  color: hsl(332, 51%, 32%);
}

.prep-time-container {
  background-color: hsl(330, 100%, 98%);
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
}

.prep-time-container > ul > li::marker {
  color: hsl(332, 51%, 32%);
}

ul,
ol {
  padding-left: 1.25rem;
  line-height: 1.5;
}

ul > li::marker {
  font-size: 12px;
  color: hsl(14, 45%, 36%);
}

ol > li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

li {
  padding-left: 1.25rem;
  padding-bottom: 0.5rem;
}

.ingredients-container,
.instructions-container {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.bold-text {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

table tr td {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.table-value {
  color: hsl(14, 45%, 36%);
}

@media (min-width: 700px) {
  .top-container {
    margin-block: 8rem;
    margin-inline: 22rem;
  }
}

@media (min-width: 550px) {
  .top-container {
    margin-block: 8rem;
    margin-inline: 4.75rem;
  }
}

@media (max-width: 549px) {
  .top-container {
    padding: 0;
    border-radius: 0;
  }
  main {
    padding-inline: 2rem;
  }
}
